server:
  port: 8081
spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB      # 单个文件最大大小
      max-request-size: 100MB   # 单次请求最大大小（如果一次上传多个文件）
  application:
    name: hmdp
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://10.8.0.7:3306/hmdp?useSSL=false&serverTimezone=UTC
    username: root
    password: D6jD0ZhS4QrYdujr
  redis:
    host: 10.8.0.7
    port: 6379
#    password:
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 1
        time-between-eviction-runs: 10s
  jackson:
    default-property-inclusion: non_null # JSON处理时忽略非空字段
mybatis-plus:
  type-aliases-package: com.hmdp.entity # 别名扫描包
logging:
  level:
    com.hmdp: debug
